@* @model SACIM.Models.RangoFirma

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RangoFirma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangoIni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangoIni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangoFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangoFin)
        </dd>
    </dl>
</div>
<div>
    <a class="btn" asp-action="Edit" asp-route-id="@Model?.IdRango">Edit</a> |
    <a class="btn" asp-action="Index">Back to List</a>
</div> *@
