@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="text-yellow-200">Hola q tal</p>
    <h1 class="text-green-400">Welcome</h1>
    <p class="text-green-400">The quick brown fox...</p>
    <p>Learn about <a class="text-green-700" href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
