@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-red-400">Welcome</h1>
    <p class="text-blue-400">The quick brown fox...</p>
    <p>Learn about <a class="text-red-300 bg-blue-200" href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
